.container-news{
    width: 100vw;
    height: 87.5vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.container-background{
    background-image: url('./imagemDeFundo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 100%;
}

.content-news{
    height: 2em;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.gradient{
    width: 100vw;
    height: 40%;
    position: absolute;
    background: linear-gradient(180deg, rgba(14, 26, 34, 0.5) 0%, rgba(69, 130, 169, 0) 100%);
}