.post-container{
    background-color: white;
    width: 100%;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    
}

.post-content{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 80%;
    gap: 10%;
}

.absoluto{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 1em;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: blue;
    color: white;
    font-weight: 700;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
    cursor: pointer;
}