.content-container{
    width: 100%;
    height: 60em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10em;
    position: relative;

    background-color: white;
    gap: 5%;
}

.mini-cards{
    width: 30%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.cards{
    background-color: #FEF7FF;
    margin: 0 auto 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.miniCard-content{
    margin-bottom: 5em;
    height: 22em;
    border-left: 1px solid #CAC4D0;
    height: 22em;

}
.readCard-content{
    height: 30em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
    border-radius: 20px
}

.absolute{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 1em;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: blue;
    color: white;
    font-weight: 700;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377);
    cursor: pointer;
}

